.create-post {
    align-items: flex-start;
    padding-top:100px;
    display:none;

    &.uk-open {
        display: flex !important;
    }

   /* select dropdown */ 
    .bootstrap-select.btn-group {
        button {
            height: 38px;
            max-width: 168px !important;
            box-shadow: none;
            padding: 0
        }
        .dropdown-toggle {
            .filter-option {
                line-height: 35px;
                height: 35px;
                padding-left: 17px !important;
                max-width: 100%;
            }
            .caret {
                left: 0;
            }
        } 
        
    }
    .bootstrap-select:before{
        background:transparent 
    }
    .dropdown-menu.open{
        width: 210px !important;
        border: 1px solid #f1f3f4;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px -5px, rgba(0, 0, 0, 0.04) 0px 13px 10px -5px;
    }
}

@media (max-width: 767px) {
    .create-post {
        .uk-modal-body {
            padding: 0px;
            flex-direction: column;
            height: 100%;
            top: 0;
            position: fixed;
            left: 0;
            display: flex;
        }

        .dropdown-menu.open {
            bottom: 100% !important;
            top: auto !important;
        }

        #veiw-more {
            display: block !important;
            margin-right: 8px;
        }
        #veiw-more:last-child {
            visibility: hidden;
            width: 0;
            width: 0;
            margin: 0;
            padding: 0;
        }

       
    }
}